.App {
  text-align: center;

}

body {
  text-align: center;
  margin-top: 300px;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

input[type=text] {
  padding: 0;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 5px solid #0000;
  border-color: rgba(0, 0, 0, .15);
  background-color: #0000;
  font-size: 16px;
}